@font-face {
  font-family: "MyriadProSemiBold";
  src: url(../fonts/MyriadProSemiBold.woff), url(../fonts/MyriadProSemiBold.eot), url(../fonts/MyriadProSemiBold.ttf) format("truetype");
  font-weight: normal; }

body {
  font-family: "MyriadProSemiBold", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #848484; }

.header {
  background: url(../img/top-background.jpg) no-repeat 0 0;
  background-position: center;
  min-height: 700px;
  position: relative; }

.header__logo {
  background: url(../img/logo.png) no-repeat 0 0;
  height: 100px;
  width: 145px;
  position: absolute;
  top: 105px;
  right: 0;
  left: 0;
  margin: auto; }

.header__icons {
  width: 160px;
  position: absolute;
  top: 225px;
  right: 0;
  left: 0;
  margin: auto; }

.icon__item {
  text-decoration: none;
  margin-left: 15px; }

.icon__item:hover {
  fill: #848484; }

.video__wrapper {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around; }

.features__wrapper {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around; }

.features {
  position: relative;
  min-height: 495px; }

.features__title {
  font-size: 24px;
  color: #222222;
  font-weight: 400; }

.features__list {
  margin-left: 45px;
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
  justify-content: space-between; }

.features__item {
  width: 400px;
  list-style: none;
  margin: 30px 0px; }

.features__item:nth-child(4) {
  margin-left: 315px; }

.features__text {
  width: 340px;
  font-family: "Helvetica",serif;
  line-height: 1.7; }

.features__list:after {
  content: "";
  background: url(../img/iphone-screen.png) no-repeat 0 0;
  width: 434px;
  height: 735px;
  position: absolute;
  top: -390px;
  right: 0;
  left: 0;
  margin: auto; }

.video-presentation {
  min-height: 425px;
  background-color: #e8e8e8; }

.video-presentation__wrapper {
  width: 1200px;
  margin: 0 auto;
  padding-top: 40px;
  text-align: center;
  display: flex;
  justify-content: space-around; }

.intro {
  width: 540px;
  text-align: left; }

.intro__title {
  margin-top: 0;
  font-size: 24px;
  color: #222222;
  font-weight: 400; }

.intro__text {
  font-family: "Helvetica",serif;
  line-height: 1.7; }

.video-presentation__player {
  background: url(../img/video-poster.jpg) no-repeat 0 0;
  width: 500px;
  height: 310px;
  border-radius: 8px;
  align-self: center; }

.video-presentation:after {
  content: "";
  display: table;
  clear: both; }

.advantages {
  min-height: 820px; }

.advantages__wrapper {
  width: 1200px;
  margin: 0 auto;
  text-align: center; }

.advantages__title {
  font-size: 24px;
  color: #222222;
  font-weight: 400; }

.advantages__text {
  font-family: "Helvetica",serif;
  line-height: 1.7; }

.advantages__list {
  display: flex;
  flex-wrap: wrap; }

.advantages__item {
  width: 380px;
  height: 220px;
  list-style: none; }

.advantages__item--one {
  background: url(../img/icon-monitor.png) no-repeat 0 0;
  background-position: center 70px; }

.advantages__item--two {
  background: url(../img/icon-darts.png) no-repeat 0 0;
  background-position: center 70px; }

.advantages__item--three {
  background: url(../img/icon-mountains.png) no-repeat 0 0;
  background-position: center 70px; }

.advantages__item--four {
  background: url(../img/icon-paints.png) no-repeat 0 0;
  background-position: center 70px; }

.advantages__item--five {
  background: url(../img/icon-person.png) no-repeat 0 0;
  background-position: center 70px; }

.advantages__item--six {
  background: url(../img/icon-mechanic.png) no-repeat 0 0;
  background-position: center 70px; }

.advantages__item {
  padding-top: 110px; }

.advantages__descr {
  width: 300px;
  margin: 0 auto; }

.prices {
  min-height: 580px;
  background-color: #e8e8e8; }

.prices__wrapper {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  position: relative; }

.prices__title {
  font-size: 24px;
  color: #222222;
  font-weight: 400;
  padding-top: 50px; }

.option {
  display: inline-block;
  position: absolute;
  width: 100%;
  top: 208px;
  left: 0;
  right: 0;
  margin: auto; }

.option__item {
  width: 280px;
  min-height: 420px;
  float: left;
  margin-left: 10px;
  background-color: #fff; }

.option__item--deluxe {
  margin-top: -20px; }

.option__title {
  min-height: 56px;
  margin: 0;
  background-color: #322e2e;
  color: #fff;
  font-size: 28px;
  font-weight: 200; }

.option__price {
  margin-left: 10px;
  font-size: 42px;
  color: #322e2e; }

.option__list {
  padding: 0; }

.option__feature {
  width: 250px;
  margin-left: 15px;
  padding-top: 10px;
  min-height: 35px;
  list-style: none;
  border-top: 1px solid #c2c2c2; }

.option__purchase {
  min-height: 56px;
  background-color: #322e2e; }

.option__link {
  padding: 7px 25px;
  vertical-align: -17px;
  text-decoration: none;
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;
  background-color: #514d4d; }

.option__item:hover .option__title {
  background-color: #e74c3c; }

.option__item:hover .option__purchase {
  background-color: #e74c3c; }

.option__item:hover a {
  background-color: #f27a6d; }

.reviews {
  min-height: 358px; }

.reviews__wrapper {
  width: 1200px;
  margin: 0 auto;
  text-align: center; }

.reviews__quote {
  margin-top: 133px;
  font-size: 24px; }

.subscribe {
  min-height: 255px;
  background: url(../img/subscribe-bg.jpg) no-repeat 0 center; }

.subscribe__title {
  margin: 0 auto;
  width: 410px;
  padding-top: 60px;
  padding-bottom: 40px;
  font-size: 30px;
  color: #000;
  font-weight: 200; }

.form {
  width: 540px;
  margin: 0 auto; }

.form__input {
  width: 350px;
  min-height: 70px;
  padding-left: 30px;
  background-color: #000;
  opacity: 0.5;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  border: none; }

.form__submit {
  width: 140px;
  min-height: 73px;
  padding: 0;
  border: none;
  background-color: #f27a6d;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff; }

.footer {
  min-height: 125px;
  background-color: #e8e8e8; }

.footer__wrapper {
  width: 1200px;
  margin: 0 auto;
  text-align: center; }

.footer__list {
  padding-top: 60px;
  display: flex;
  justify-content: center;
  margin: 0;
  list-style: none; }

.footer__item {
  margin-right: 40px; }

.footer__link {
  text-decoration: none;
  color: #848484; }
