@font-face {
    font-family: "MyriadProSemiBold";
    src: url(../fonts/MyriadProSemiBold.woff),
    url(../fonts/MyriadProSemiBold.eot),
    url(../fonts/MyriadProSemiBold.ttf) format("truetype");
    font-weight: normal;
    }
