.subscribe {
  min-height: 255px;
  background: url(../img/subscribe-bg.jpg) no-repeat 0 center;
}

.subscribe__title {
 margin: 0 auto;
  width: 410px;
  padding-top: 60px;
  padding-bottom: 40px;
  font-size: 30px;
  color: #000;
  font-weight: 200;
}
