.video-presentation {
  min-height: 425px;
  background-color: $section-bgcolor;
}

.video-presentation__wrapper {
  width: 1200px;
  margin: 0 auto;
  padding-top: 40px;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.intro {
  width: 540px;
  text-align: left;
}

.intro__title {
  margin-top:0;
  @include title;
}

.intro__text {
  font-family: "Helvetica",serif;
  line-height: 1.7;
}

.video-presentation__player {
    background: url(../img/video-poster.jpg) no-repeat 0 0;
    width: 500px;
    height: 310px;
    border-radius: 8px;
    align-self: center;
}

.video-presentation:after {
  content:"";
  display: table;
  clear: both;
}
